.footer{
    padding-top: 300px;

    position: relative;
    background-color: $pink;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    &__clip{
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/header/background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 32%, 100% 2%, 100% 100%, 0% 100%);
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 80px;
    }
    &__info-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #fff;
        margin-bottom: 30px;
    }
    &__info-text{
        font-size: 18px;
        line-height: 27px;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 103px;
        padding-top: 63px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-color: #2A407C;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
        }
    }
    &__social-logo{
        max-width: 140px;
    }
    &__social-menu-list{
        display: flex;
        justify-content: space-between;
        width: 293px;
    }
    &__social-menu-link{
        font-size: 14px;
        line-height: 17px;
        color: $default;
    }
    &__social-list{
        display: flex;
        justify-content: space-between;
        width: 135px;
    }
    &__social-link{
        display: block;
    }
}



@media (max-width:375px) {

    .footer{
        padding-top: 150px;
    
        position: relative;
        background-color: $pink;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        &__clip{
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $background-main;
            clip-path: polygon(0 12%, 100% 2%, 100% 100%, 0% 100%);
        }
        &__info{
            margin-bottom: 42px;
        }
        &__info-title{
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
            color: #fff;
            margin-bottom: 20px;
        }
        &__info-text{
            font-size: 14px;
            line-height: 20px;
        }
        &__social{
            padding: 45px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background-color: #2A407C;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
            }
        }
        &__social-menubox{
            display: none;
        }
        &__social-list{
            width: 135px;
            display: flex;
            justify-content: space-between;
        }
        &__social-logo{
            width: 138px;
            margin-right: 10px;
        }
        &__slider{
            // height: 428px;
            padding-bottom: 44px;
            width: 100%;
            text-align: center;
        }
        &__swiper-title{
            font-weight: 700;
            color: $background-main;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 7px;
        }
        &__swiper-desc{
            font-size: 13px;
            line-height: 18px;
            padding-bottom: 30px;
            
        }
        &__swiper-price{
            width: 220px;
            padding-top: 20px;
            font-weight: 700;
            color: $background-main;
            font-size: 60px;
            line-height: 70px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                background-color: #D3D9E9;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
            }
        }
        &__swiper-dollar{
            font-size: 30px;
            line-height: 35px;
        }
        &__swiper-btn{
            display: block;
            text-align: center;
            
            background-color: $pink;
            padding: 10px 80px 10px 80px;
            border-radius: 30px;
            color: #fff;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
  
    .footer__swiper-slide.swiper-slide {
        width: 280px;
        height: 358px;
        border-radius: 30px;
        // padding: 35px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // -webkit-box-shadow: 0px 16px 61px -1px rgba(0,0,0,0.64);
        // -moz-box-shadow: 0px 16px 61px -1px rgba(0,0,0,0.64);
        // box-shadow: 0px 16px 61px -1px rgba(0,0,0,0.64);
    }

    // .swiper-slide img {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}