<body>
    <footer class="footer">
        <div class="container">
            <div class="footer__info">
                <h2 class="footer__info-title">Pricing Plans</h2>
                <p class="footer__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. </p>
            </div>
            <div class="footer__cards">
                <div class="footer__card">
                    <h5 class="footer__card-title">Starter</h5>
                    <p class="footer__card-desc">up to 3 users</p>
                    <span class="footer__card-price"><span class="footer__card-dollar">$</span>29</span>
                    <p class="footer__card-desc">per month</p>
                    <a href="" class="footer__card-btn">Order</a>
                </div>
                <div class="footer__card">
                    <h5 class="footer__card-title">Standard</h5>
                    <p class="footer__card-desc">up to 20 users</p>
                    <span class="footer__card-price"><span class="footer__card-dollar">$</span>99</span>
                    <p class="footer__card-desc">per month</p>
                    <a href="" class="footer__card-btn">Order</a>
                </div>
                <div class="footer__card">
                    <h5 class="footer__card-title">Premium</h5>
                    <p class="footer__card-desc">up to 200 users</p>
                    <span class="footer__card-price"><span class="footer__card-dollar">$</span>299</span>
                    <p class="footer__card-desc">per month</p>
                    <a href="" class="footer__card-btn">Order</a>
                </div>
            </div>
        </div>
        <div class="footer__slider">
            <div class="swiper footer__swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper footer__swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide footer__swiper-slide">
                    <h5 class="footer__swiper-title">Standard</h5>
                    <p class="footer__swiper-desc">up to 20 users</p>
                    <span class="footer__swiper-price"><span class="footer__swiper-dollar">$</span>99</span>
                    <p class="footer__swiper-desc">per month</p>
                    <a href="#" class="footer__swiper-btn">Order</a>
                  </div>
                  <div class="swiper-slide footer__swiper-slide">
                    <h5 class="footer__swiper-title">Standard</h5>
                    <p class="footer__swiper-desc">up to 20 users</p>
                    <span class="footer__swiper-price"><span class="footer__swiper-dollar">$</span>99</span>
                    <p class="footer__swiper-desc">per month</p>
                    <a href="#" class="footer__swiper-btn">Order</a>
                  </div>
                  <div class="swiper-slide footer__swiper-slide">
                    <h5 class="footer__swiper-title">Standard</h5>
                    <p class="footer__swiper-desc">up to 20 users</p>
                    <span class="footer__swiper-price"><span class="footer__swiper-dollar">$</span>99</span>
                    <p class="footer__swiper-desc">per month</p>
                    <a href="#" class="footer__swiper-btn">Order</a>
                  </div>
                </div>
              
                <!-- If we need navigation buttons -->
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
              
            </div>
        </div>
        <div class="container">
        <div class="footer__social">
                <svg
                    class="footer__social-logo"
                    viewBox="0 0 277 60"
                    width="277"
                    height="60"
                >
                    <use href="images/sprite.svg#logo"></use>
                </svg>
                <!-- <img src="images/footer/logo.svg" alt="" class="footer__social-logo"> -->
                <div class="footer__social-menubox">
                    <ul class="footer__social-menu-list">
                        <li class="footer__social-menu-item">
                            <a href="#" class="footer__social-menu-link">Product</a>
                        </li>
                        <li class="footer__social-menu-item">
                            <a href="#" class="footer__social-menu-link">Pricing Plans</a>
                        </li>
                        <li class="footer__social-menu-item">
                            <a href="#" class="footer__social-menu-link">FAQ</a>
                        </li>
                        <li class="footer__social-menu-item">
                            <a href="#" class="footer__social-menu-link">Blog</a>
                        </li>
                    </ul>
                </div>
                <ul class="footer__social-list">
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link">
                
                            <img src="images/icons/facebook.svg" alt="" class="footer__social-img">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link">
                            <img src="images/icons/twitter.svg" alt="" class="footer__social-img">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-link">
                            <img src="images/icons/instagram.svg" alt="" class="footer__social-img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__clip"></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>