<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gulp bimba</title>
</head>
<header>
    <div class="header__top">
        <div class="container">
            <div class="header__top-wrapper">
                <div class="header__logo">
                    <img src="images/header/logo.svg" alt="" class="header__logo-img">
                </div>
                <ul class="header__top-list">
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Products</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Pricing</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">FAQ</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Blog</a>
                    </li>
                </ul>
                <div class="header__top-auth">
                    <a href="#" class="header__top-log">Sign in</a>
                    <a href="#" class="header__top-reg">Sign Up</a>
                </div>
                <button class="header__top-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>